# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
nohup.out

# OS
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# Vercel
.vercel
.aider*
